{{ template "widget-base.html" . }}

{{ define "widget-content-classes" }}widget-content-frameless{{ end }}

{{ define "widget-content" }}
<div class="cards-vertical">
    {{ range .Posts }}
    <div class="widget-content-frame relative">
        {{ if ne "" .ThumbnailUrl }}
        <div class="reddit-card-thumbnail-container">
            {{ if ne "" .ImageUrl }}
            <a href="{{ .ImageUrl }}" target="_blank" rel="noreferrer">
                <img class="reddit-card-thumbnail" loading="lazy" src="{{ .ThumbnailUrl }}" alt="">
            </a>
            {{ else }}
            <img class="reddit-card-thumbnail" loading="lazy" src="{{ .ThumbnailUrl }}" alt="">
            {{ end }}
        </div>
        {{ end }}
        <div class="padding-widget relative">
            {{ if ne "" .TargetUrl }}
            <a class="color-highlight size-h5 text-truncate visited-indicator block" href="{{ .TargetUrl }}" target="_blank" rel="noreferrer">{{ .TargetUrlDomain }}</a>
            {{ else }}
            <div class="color-highlight size-h5 text-truncate">/r/{{ $.Subreddit }}</div>
            {{ end }}
            <a href="{{ .DiscussionUrl }}" class="text-truncate-3-lines color-primary-if-not-visited margin-top-7" target="_blank" rel="noreferrer">{{ .Title }}</a>
            <ul class="list-horizontal-text margin-top-7">
                <li {{ dynamicRelativeTimeAttrs .TimePosted }}></li>
                <li>{{ .Score | formatApproxNumber }} points</li>
            </ul>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
